.app-card {
    border : 1px solid #ccc;
    border-radius : 8px;
    padding: 20px;
    margin : 10px;
    box-shadow : 0 4px 8px rgba(0, 0, 0, 0.1);


}

.app-card h2 { /*´pseudo-clase*/
    font-size : 1.5em;
    margin-bottom : 10px;
    margin: 0;
    color: #654597;
}

.app-card p {
    font-size : 1em;
    color: #666;
    line-height : 1.5;
}

.price {
    font-size : 1.2em;
    color: #E91E63;
    font-weight : bold;
    margin-top : 15px;
}

.img-container {
    text-align : center;
    margin-bottom : 15px;
}

.img-container img {
    max-width : 100%;
    height : auto;
}